.menu_container{
  
  


.menu-window-container{
  display: flex;
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 46px;
  left: -2px;
  background-color: rgb(48, 47, 47);
}

.menu-btn{

  

}
}