.windowBar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  background-color: rgb(48, 47, 47);

  

  .window-left-part {
    display: flex;

    cursor: pointer;
    &:hover{
      background-color: rgb(83, 82, 82);
    }

    .btn-window-search-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

  

      img {
        width: 26px;
      }
    }
  }

  .window-right-part {
    display: flex;

    .weather-container{
      display: flex;
    }

    .battery-wifi-sound-container {
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
        margin: 0 6px;
      }
    }

    p {
      color: white;
      text-align: center;
      font-size: 12px;
      margin: 2px 5px;
    }
  }
.time-date-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover{
    background-color: rgb(83, 82, 82);
  }



}
}
